body{
    background: linear-gradient(to bottom,rgb(83, 122, 163),rgba(204,229,255,0.4));
    font-size:1.15em;
    text-align: justify;
}

#title{
    color:rgb(186,133,9);
}

#service-image{
    height:400px;
    width:70vw;
    background:radial-gradient(circle,red 20%,blue 40%,green 55%);
    border:10px solid rgb(28,28,79);
}